html(lang="en-us")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge;chrome=1")
    title Управление регламентными заданиями
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", media="screen", href="css/bootstrap.min.css")
    link(rel="stylesheet", media="screen", href="css/bootstrap-theme.css.map")
    link(rel="stylesheet", media="screen", href="css/styles.css")

    |  <!--[if lt IE 9]>
    |		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    |		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    |	<![endif]-->

    script(src="http://code.jquery.com/jquery-1.12.0.min.js")

    body
      .wrapper.container
        header
          a(href="/")
            img(src="images/logo-vscraft.png", alt="MC1CControl logo")
          form.form-inline.form-search.pull-right(name="search", action="#", method="get")
            .input-group
              label.sr-only(for="searchInput") Search
              input.form-control#searchInput(type="text", name="search", placeholder="Search")
              div.input-group-btn
                button.btn.btn-primary(type="submit") G0
          nav.navbar.navbar-default
            ul.nav.navbar-nav
              li
                a(href="/") Home
              li.active
                a(href="/index") Результаты
              li
                a(href="/settings") Настройки
              li
                a(href="/params") Параметры
              li
                a(href="/customers") Customers

        .heading
          - if (stage)
            h3 Регламентные задания. Фаза #{stage}
          - else
            h3 Регламентные задания
        .row
          aside.col-md-6
            ul.list-group.submenu
                    li.list-group-item
                      a(href="/index?ws=1") Выгрузка в 23:00
                    li.list-group-item
                      a(href="/index?ws=2") Инициализация
                    li.list-group-item.active
                      a(href="/index?ws=3") Выгрузка рабочих ИБ
                    li.list-group-item
                      a(href="/index?ws=4") Применение изменений
                    li.list-group-item
                      a(href="/index?ws=5") Загрузка
                    li.list-group-item
                      a(href="/index?ws=6") Перезагрузка серверов
                    li.list-group-item
                      a(href="/index?ws=7") Передача файлов на ftp

          section.col-md-18
            .jubmotron
              blockquote
                table()
                  - if (content.length)
                    - content.forEach(function(item){
                      tr
                        - if (item.length)
                          - item.forEach(function(tx){
                            td
                              small= tx
                          - })
                    - })




